[submodule "pack/fercho/start/ale"]
	path = pack/fercho/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/theme/start/base16-vim"]
	path = pack/theme/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/fercho/start/vim-gitgutter"]
	path = pack/fercho/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/ruby/start/vim-ruby"]
	path = pack/ruby/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "pack/ruby/start/vim-rails"]
	path = pack/ruby/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/ruby/start/vim-bundler"]
	path = pack/ruby/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/ruby/start/vim-rake"]
	path = pack/ruby/start/vim-rake
	url = https://github.com/tpope/vim-rake.git
